body { 
	background-color: #FFD1DC;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #000;
}

a, a:hover {
  color: white;
}

#optTable {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
}

#btn-rawtext {
	cursor: pointer;
	color: #FFD1DC;
	background-color: #000038;
	width: 150px;
	padding: 2px;
	border: 3px solid #F0027E;
	border-radius: 10px;
}

#menubar {
	position: fixed;
  color: #fff;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	background-color: #000038;
	z-index: 1;
  text-align: center;
  border-bottom-color: #F0027E;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.menu-item {
  width: 120px;
  height: 100%;
  bottom: 50px;
  float: left;
  border-left-color: #F0027E;
  border-left-width: 2px;
  border-left-style: solid;
}

#menu-restart {
  border-left-width: 0px; 
}

.menu-link {
  cursor: pointer;
}

.menu-right {
  float: right;
}

.resTable thead {
  background-color: #000038;
  color: #fff;
}

.resTable tbody, #fldLeft, #fldMiddleT, #fldRight, #fldMiddleB {
  background-color: #fff;
}

.cbox {
  font-size: 12px;
}
